@import url('https://db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir+Medium');



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container{
  max-width: 479px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.bg-tarif{
  width: 100%;
  height: 100%;
  position: relative;
}

.click::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: transparent;
  top: 45%;
  left: 0;
}

.site-title{
  font-size: 1rem;
  font-weight: bold;
}

.btn{
  margin-top: 2rem;
  width: 100%;
  border-radius: 9px;
  background-color: rgb(14 120 202);
  border: none;
  padding: 16px 24px;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
}

.text{
  text-align: center;
  font-size: 1rem;
}

.text-pin{
  font-family: 'Avenir Bold', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: -15px;
}

.text-biru{
  color: rgb(14 120 202);
  font-weight: 800;
}

.btn:disabled{
  background-color: rgb(173, 215, 247);
  color: #fff;
}

.label-control{
  font-family: 'Avenir Bold', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;
}
.label-control span{
  font-size: 85%;
  margin-left: 0.25em;
  font-weight: 600;
}

.form-group{
  position: relative;
}

.form-control{
  box-sizing: border-box;
  width: 100%;
  padding: 14px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.075);
  color: black;
  font-size: 1rem; 
  border: none;
}

.form-control:focus{
  border:0.5px solid rgb(14 120 202);
  outline: none;
}

.icon-control{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 22px;
  color: rgb(14 120 202);
  font-weight: lighter;
}

.icon-control-pw{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    color: rgb(14 120 202);
    font-weight: lighter;
}

.bg-full-blue{
  background-color: rgb(14 120 202);
  height: 100vh;
  width: 100%;
  padding: 30px 20px;
  color: #fff;
}

.text-password{
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: right;
}

.msg{
  padding: 0 1re;
  font-family: 'Avenir Bold', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: normal;
}

.bg-full-grey{
  background-color: rgb(231, 231, 231);
  width: 100%;
  padding: 30px 20px;
  color: #fff;
  position: relative;
}

.form-control-pesan{
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid rgb(219, 219, 219);
  font-size: 1.1rem;
  color: grey;
  font-weight: 500;
  padding:1rem;
}

.form-control-pesan:focus{
  border:2px solid rgb(14 120 202);
  outline: none;
}

.card-pesan{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.075);
  padding-top: 2em;
  margin-top: 5em;
  height: 100%;
}

.img-inbox{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -280%);
  width: 90px;

}

.card{
  border: 0.8px solid rgb(197, 197, 197);
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 10px;
  box-shadow: 2px 10px 12px -7px rgba(0,0,0,0.75);
  background-color: rgb(243, 242, 242);
}